<div class="h-100">
    <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
        <div class="about-main">
            <h5 class="display-5">My Teams</h5>
            <p class="display-6 mb-5">
                <i class="text-dark">"This is my team members"</i>
            </p>
            <div>
                <div class="row mx-5">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="image">
                                <img src="assets/images/avatar/cuonghoi.jpg" class="img-fluid" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Cường Hội</h5>
                                <p class="card-text">
                                    <i class="text-dark">"unknown"</i>
                                </p>
                                <a href="https://www.facebook.com/100006838800498/" class="btn btn-primary"
                                    target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="image">
                                <img src="assets/images/avatar/tuananh.jpg" class="img-fluid" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Ngô Tuấn Anh</h5>
                                <p class="card-text">
                                    <i class="text-dark">"Code nó là đam mê rồi"</i>
                                </p>
                                <div class="alink">
                                    <a class="btn btn-info mx-2" href="https://www.facebook.com/ngotuananh2101"
                                        role="button"><i class="fa-brands fa-facebook"></i></a>
                                    <a class="btn btn-danger mx-2" href="https://www.instagram.com/_ngo_tuan_anh_/"
                                        role="button"><i class="fa-brands fa-instagram"></i></a>
                                    <a class="btn btn-dark mx-2" href="https://github.com/ngotuananh101/coronavirus"
                                        role="button"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="image">
                                <img src="assets/images/avatar/dat.jpg" class="img-fluid" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Đạt Nguyễnn</h5>
                                <p class="card-text">
                                    <i class="text-dark">"unknown"</i>
                                </p>
                                <a href="https://www.facebook.com/100007126088819/" class="btn btn-primary"
                                    target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>