<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
            <div>
                <h5 class="mb-3">Worldwide Tracker</h5>
                <h1 class="mb-3">Confirmed Coronavirus Cases</h1>
                <p class="mb-5">Last updated: April 08, 2020, 01:43 GMT</p>
                <div>
                    <div class="container-fluid">
                        <section>
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between px-md-1">
                                                <div class="align-self-center me-3">
                                                    <!-- <i class="fas fa-pencil-alt text-info fa-3x"></i> -->
                                                    <img src="assets/images/icon/corona-yellow-1.png" alt="" />
                                                </div>
                                                <div class="text-end">
                                                    <h3>278,222,222</h3>
                                                    <p class="mb-0">Total Cases</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between px-md-1">
                                                <div class="align-self-center me-3">
                                                    <!-- <i class="fas fa-pencil-alt text-info fa-3x"></i> -->
                                                    <img src="assets/images/icon/corona-black-1.png" alt="" />
                                                </div>
                                                <div class="text-end">
                                                    <h3>278,222,222</h3>
                                                    <p class="mb-0">Total Deaths</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between px-md-1">
                                                <div class="align-self-center me-3">
                                                    <!-- <i class="fas fa-pencil-alt text-info fa-3x"></i> -->
                                                    <img src="assets/images/icon/corona-green-1.png" alt="" />
                                                </div>
                                                <div class="text-end">
                                                    <h3>278,222,222</h3>
                                                    <p class="mb-0">Recovered</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between px-md-1">
                                                <div class="align-self-center me-3">
                                                    <!-- <i class="fas fa-pencil-alt text-info fa-3x"></i> -->
                                                    <img src="assets/images/icon/corona-red-1.png" alt="" />
                                                </div>
                                                <div class="text-end">
                                                    <h3>278,222,222</h3>
                                                    <p class="mb-0">Fatality Rate</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>