<div id="intro" class="overflow-auto">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
            <div>
                <h5 class="mb-3">Worldwide Tracker</h5>
                <h1 class="mb-3">Confirmed Coronavirus Cases</h1>
                <p class="mb-5">Last updated: {{ brief.lastUpdate | date: 'full'  }}</p>
                <div>
                    <div class="container-fluid">
                        <div class="row vw-80">
                            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                <div class="card noback">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between px-md-1">
                                            <div class="align-self-center me-3">
                                                <img src="assets/images/icon/corona-yellow-1.png" alt="" />
                                            </div>
                                            <div class="text-start">
                                                <h3>{{ brief.confirmed | number }}</h3>
                                                <p class="mb-0">Total Cases</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                <div class="card noback">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between px-md-1">
                                            <div class="align-self-center me-3">
                                                <img src="assets/images/icon/corona-black-1.png" alt="" />
                                            </div>
                                            <div class="text-start">
                                                <h3>{{ brief.deaths | number}}</h3>
                                                <p class="mb-0">Total Deaths</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                <div class="card noback">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between px-md-1">
                                            <div class="align-self-center me-3">
                                                <img src="assets/images/icon/corona-green-1.png" alt="" />
                                            </div>
                                            <div class="text-start">
                                                <h3>{{ brief.recovered > 0 ? brief.recovered : "unknown" }}</h3>
                                                <p class="mb-0">Recovered</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                                <div class="card noback">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between px-md-1">
                                            <div class="align-self-center me-3">
                                                <img src="assets/images/icon/corona-red-1.png" alt="" />
                                            </div>
                                            <div class="text-start">
                                                <h3>{{ brief.deaths / brief.confirmed * 100 | number }}%</h3>
                                                <p class="mb-0">Fatality Rate</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row vw-80 justify-content-center">
                            <div class="col-xl-2 col-sm-4 col-16 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><i class="fa-light fa-calendar-check"></i></p>
                                        <h5 class="card-title">{{ brief.today > 0 ? brief.today : "unknown" }}</h5>
                                        <p class="card-text">Today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-16 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><i class="fa-light fa-earth-americas"></i></p>
                                        <h5 class="card-title">{{ brief.country | number }}</h5>
                                        <p class="card-text">Countries</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-16 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><i class="fa-light fa-clipboard-user"></i></p>
                                        <h5 class="card-title">{{ brief.active > 0 ? brief.active : "unknown" }}</h5>
                                        <p class="card-text">Active Cases</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-16 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><i class="fa-light fa-globe"></i></p>
                                        <h5 class="card-title">{{ brief.confirmed | number }}</h5>
                                        <p class="card-text">Worldwide Cases</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-sm-4 col-16 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><i class="fa-light fa-arrow-rotate-left"></i></p>
                                        <h5 class="card-title">{{ brief.recovered > 0 ? brief.recovered : "unknown" }}</h5>
                                        <p class="card-text">Recovered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-map></app-map>
<app-chart></app-chart>