#intro {
    background-image: url("/assets/images/tracker-map-bg.png");
    height: 100vh;
}
.card-body i{
    font-size: 3rem;
}
.noback{
    background: none;
    box-shadow: none;
    font-weight: bold;
}