<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand me-2" href="#" routerLink="/">
            <img src="assets/images/logo.png" height="53" alt="Logo" loading="lazy" style="margin-top: -1px;" />
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <h3>Coronavirus tracker</h3>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary me-3" routerLink="about">
                    About
                </button>
                <a class="btn btn-dark" href="https://github.com/ngotuananh101/coronavirus" target="_blank"
                    role="button"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</nav>